<!--
; ============================================
; Title: app.component.html
; Date: 04 February 2020
; Modified By: joshua Hughes
; Description: OnChange Events
;=============================================
 -->
 <mat-toolbar class="menu" role="header" color="primary">
    <mat-toolbar-row>
      <button mat-button class="toolbar__icon-button mat-button" routerLink="/home">
        <span style="margin-left: 5px !important;" >Home</span>
      </button>
      <div fxFlex="32"></div>
      <h2>Josh's onChange Events</h2>
      <div fxFlex="32"></div>
      <button mat-button class="mat-button">
        Child
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="parent" fxLayout="row">
    <div class="left" fxFlex="20">

    </div>
    <div class="right" fxFlex>

<div class="parent2">

    <h2>Parent</h2>
    <div>
      Greeting: <input type="text" [(ngModel)]="myGreeting">
    </div>

    <div>
      User name: <input type="text" [(ngModel)]="myUser.name">
    </div>

    <app-child [greeting]="myGreeting" [user]="myUser"></app-child>
  </div>

    </div>
  </div>

