<!--
; ============================================
; Title: app.component.html
; Date: 15 January 2020
; Modified By: joshua Hughes
; Description: guarding routes example
;=============================================
 -->
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Home</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/product']">Product</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
