<!--
; ============================================
; Title: app.component.html
; Date: 21 January 2020
; Modified By: joshua Hughes
; Description: dependency inversion
;=============================================
 -->
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
  </ul>
</nav>

<!--FruitComponent directive -->
<hr />
<app-fruit></app-fruit>
