<!--
; ============================================
; Title: app.component.html
; Date: 30 January 2020
; Modified By: joshua Hughes
; Description: material design in action
;=============================================
 -->

 <mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="toolbar__icon-button mat-button" routerLink="/home">
      <span style="margin-left: 5px !important;" >Home</span>
    </button>
    <div fxFlex="32"></div>
    <h2>Josh's Material Design</h2>
    <div fxFlex="32"></div>
    <button mat-button class="mat-button" routerLink="/login">
      Login
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="parent" fxLayout="row">
  <div class="left" fxFlex="20">

  </div>
  <div class="right" fxFlex>
      <router-outlet></router-outlet>
  </div>
</div>
