<!--
; ============================================
; Title: app.component.html
; Date: 11 February 2020
; Modified By: joshua Hughes
; Description: form validation
;=============================================
 -->
 <mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="toolbar__icon-button mat-button" routerLink="/home">
      <span style="margin-left: 5px !important;" >Home</span>
    </button>
    <div fxFlex="32"></div>
    <h2>Josh's form validation</h2>
    <div fxFlex="32"></div>
    <button mat-button class="mat-button">
      Phone
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="parent" fxLayout="row">
  <div class="left" fxFlex="20">

  </div>
  <div class="right" fxFlex>
    <div fxLayout="row">
      <div fxFlex></div>
      <div class="parent2" fxFlex="40">
        <mat-card>
          <mat-card-title>Phone Validator</mat-card-title>
          <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div fxLayout="row">
              <div fxFlex="30">
                Phone number:
              </div>
              <input fxFlex type="text" name="telephone" ngModel
                      required
                      pattern="[0-9]*"
                      minlength="10"
                      #phone="ngModel"
                      [class.hasError]="phone.isvalid && phone.touched">
              <div fxFlex="5"></div>
              <div fxFlex="20"><button type="submit" [disabled]="f.invalid">Submit</button></div>
            </div>
            <div [hidden]="phone.valid || phone.pristine">
              <div class="error" [hidden]="!phone.hasError('minlength')">Phone has to have at least 10 digits</div>
              <div class="error" [hidden]="!phone.hasError('required')">Phone is required</div>
              <div class="error" [hidden]="!phone.hasError('pattern')">Only digits are allowed</div>
            </div>
          </form>
        </mat-card>
      </div>
      <div fxFlex></div>
    </div>
  </div>
</div>

